web-approval/LogicApp/template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "logic-approval-webform-weu-01",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azureblob_name": {
      "type": "string",
      "defaultValue": "azureblob"
    },
    "azureblob_displayName": {
      "type": "string",
      "defaultValue": "stapprovalwebformweu01"
    },
    "azureblob_accountName": {
      "type": "string",
      "defaultValue": "stapprovalwebformweu01",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      }
    },
    "azureblob_resourceGroupName": {
      "type": "string",
      "defaultValue": "rg-approval-webform-weu-01"
    },
    "office365_name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_displayName": {
      "type": "string",
      "defaultValue": "sending-mailbox@domain.com"
    },
    "sql_name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_displayName": {
      "type": "string",
      "defaultValue": "database - server"
    },
    "sql_server": {
      "type": "string",
      "defaultValue": "server.database.windows.net",
      "metadata": {
        "description": "SQL server name"
      }
    },
    "sql_database": {
      "type": "string",
      "defaultValue": "databasename",
      "metadata": {
        "description": "SQL database name"
      }
    },
    "sql_username": {
      "type": "securestring",
      "defaultValue": "username",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_password": {
      "type": "securestring",
      "defaultValue": null,
      "metadata": {
        "description": "Password credential"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureblob_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('sql_name'))]"
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "properties": {
                    "form": {
                      "properties": {
                        "costcenter": {
                          "type": "string"
                        },
                        "firstname": {
                          "type": "string"
                        },
                        "mail": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "Compose_JSON_Output": {
              "runAfter": {
                "Condition_-_User_approved_or_rejected": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "approval": {
                  "approvalDate": "@{variables('approvalDate')}",
                  "approved": "@{variables('approved')}"
                },
                "form": {
                  "costcenter": "@{triggerBody()?['form']?['costcenter']}",
                  "firstname": "@{triggerBody()?['form']?['firstname']}",
                  "mail": "@{triggerBody()?['form']?['mail']}",
                  "name": "@{triggerBody()?['form']?['name']}",
                  "reason": "@{triggerBody()?['form']?['reason']}"
                },
                "id": "@{variables('requestID')}",
                "requestDate": "@{variables('requestDate')}"
              }
            },
            "Condition_-_User_approved_or_rejected": {
              "actions": {
                "Set_approved_=_true": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "approved",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "Initialize_approvalDate": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_approved_=_false": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "approved",
                      "value": false
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Send_approval_email_and_wait_for_user_response')?['SelectedOption']",
                      "Approve"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Create_JSON_in_Data_Lake": {
              "runAfter": {
                "Compose_JSON_Output": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": "@outputs('Compose_JSON_Output')",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/approval-web/messages/@{utcNow('yyyy')}/@{utcNow('MM')}",
                  "name": "@{utcNow('o')}-@{workflow()['run']['name']}.json",
                  "queryParametersSingleEncoded": true
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Initialize_approvalDate": {
              "runAfter": {
                "Send_approval_email_and_wait_for_user_response": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "approvalDate",
                    "type": "string",
                    "value": "@{utcNow('o')}"
                  }
                ]
              }
            },
            "Initialize_approved": {
              "runAfter": {
                "Initialize_requestID": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "approved",
                    "type": "boolean",
                    "value": false
                  }
                ]
              }
            },
            "Initialize_requestDate": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "requestDate",
                    "type": "string",
                    "value": "@{utcNow('o')}"
                  }
                ]
              }
            },
            "Initialize_requestID": {
              "runAfter": {
                "Initialize_requestDate": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "requestID",
                    "type": "string",
                    "value": "@{guid()}"
                  }
                ]
              }
            },
            "Insert_approval_into_SQL_DB": {
              "runAfter": {
                "Condition_-_User_approved_or_rejected": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "approvalDate": "@variables('approvalDate')",
                  "approved": "@variables('approved')",
                  "costcenter": "@triggerBody()?['form']?['costcenter']",
                  "firstname": "@triggerBody()?['form']?['firstname']",
                  "mail": "@triggerBody()?['form']?['mail']",
                  "name": "@triggerBody()?['form']?['name']",
                  "reason": "@triggerBody()?['form']?['reason']",
                  "requestDate": "@variables('requestDate')",
                  "requestID": "@variables('requestID')"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('server.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('databasename'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[messagesWeb]'))}/items"
              }
            },
            "Response_to_REST_API_call": {
              "runAfter": {
                "Initialize_approved": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": "@triggerBody()",
                "headers": {
                  "content-type": "application/json"
                },
                "statusCode": 200
              }
            },
            "Send_approval_email_and_wait_for_user_response": {
              "runAfter": {
                "Response_to_REST_API_call": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "Message": {
                    "Body": "Requestor: @{triggerBody()?['form']?['firstname']} @{triggerBody()?['form']?['name']}\n\nMail-Adress: @{triggerBody()?['form']?['mail']}\n\nCost-Center: @{triggerBody()?['form']?['costcenter']}\n\nReason: @{triggerBody()?['form']?['reason']}",
                    "HideHTMLMessage": false,
                    "Importance": "High",
                    "Options": "Approve, Reject",
                    "ShowHTMLConfirmationDialog": false,
                    "Subject": "Logic Apps Approval Demo - Approval Request",
                    "To": "receiving-mailbox@domain.com"
                  },
                  "NotificationUrl": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "path": "/approvalmail/$subscriptions"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblob_name'))]",
                "connectionName": "[parameters('azureblob_name')]"
              },
              "office365": {
                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_name'))]",
                "connectionName": "[parameters('office365_name')]"
              },
              "sql": {
                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_name'))]",
                "connectionName": "[parameters('sql_name')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('sql_name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/sql')]"
        },
        "displayName": "[parameters('sql_displayName')]",
        "parameterValues": {
          "server": "[parameters('sql_server')]",
          "database": "[parameters('sql_database')]",
          "username": "[parameters('sql_username')]",
          "password": "[parameters('sql_password')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('office365_name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/office365')]"
        },
        "displayName": "[parameters('office365_displayName')]"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('azureblob_name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/azureblob')]"
        },
        "displayName": "[parameters('azureblob_displayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_accountName')]",
          "accessKey": "[listKeys(resourceId(parameters('azureblob_resourceGroupName'),'Microsoft.Storage/storageAccounts', parameters('azureblob_accountName')), '2018-02-01').keys[0].value]"
        }
      }
    }
  ],
  "outputs": {}
}
